<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Meu primeiro aplicativo Vue</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type="text/css">
        .risca {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div id="app" class="container" style="padding: 20px;">
    <div class="field">
        <label class="label">GitHub Username</label>
        <div class="control">
            <input class="input"
                   type="text"
                   placeholder="GitHub Username"
                   v-model="username"
                   @keyup.enter="listar_repositorios()">
        </div>
    </div>

    <label class="label">Selecione Repositório</label>
    <div class="select" :class="{'is-loading': loading_repos}">
        <select v-model="selected_repo" @change="listar_issues()">
            <option :value="repo" v-for="repo in repos">{{repo.name}}</option>
        </select>
    </div>

    <todo-table :tarefas="tarefas"></todo-table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="TODOTable.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {

            username: '',
            tarefas: [],
            repos: [],
            selected_repo: null,
            loading_repos: false,
            // tarefas: [
            //     {tarefa: 'Lavar a roupa', feita: false},
            //     {tarefa: 'Lavar o carro', feita: true},
            //     {tarefa: 'Estudar Vue.js', feita: false},
            // ]
        },
        methods: {
            listar_repositorios: function () {
                //faz um AJAX para https://api.github.com/users/${username}/repos
                var self = this;
                self.loading_repos = true;
                axios.get(`https://api.github.com/users/${this.username}/repos`).then(function (result) {
                    self.repos = result.data;
                    self.loading_repos = false;
                })
            },
            listar_issues: function () {
                //Faz um AJAX para https://api.github.com/repos/victoraugusto6/bot-poposbr/issues
                var self = this;
                axios.get(`https://api.github.com/repos/${this.username}/${this.selected_repo.name}/issues`).then(function (result) {
                    var issues = result.data
                    self.tarefas = issues.map(function (issue) {
                        return {tarefa: issue.title, feita: false}
                    })
                    console.log(result.data)
                })
            }
        },
    });
</script>
</body>
</html>